* {
  box-sizing: border-box;
}

.main {
  height: 100vh;
  margin: 1.25rem;
  background-color: rgb(181, 217, 252);
  padding: 0.625rem;
}

.container {
  width: 50rem;
  margin: 0 auto;
}

.input {
  display: none;
}

.meme-carousel {
  width: 50rem;
  overflow: hidden;
}

.memes {
  display: flex;
  justify-content: space-between;
  transition: 0.7s ease-in-out;
}

.img {
  width: 50rem;
  height: 60vh;
}

.extra {
  flex-wrap: wrap;
  margin-top: 2rem;
}

.text-carousel {
  width: 20rem;
  overflow: hidden;
}

.texts {
  width: 100rem;
  overflow: hidden;
  transition: all 0.5s ease-in-out;
}

.text {
  width: 20rem;
  font-size: 1.5rem;
  font-weight: 700;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
  text-align: left;
}

.buttons {
  display: flex;
  gap: 0.7rem;
}

.label {
  width: 2rem;
  height: 2rem;
  border: 0.3125rem solid rgb(181, 217, 252);
  border-radius: 50%;
  background-color: white;
  cursor: pointer;
}

.label:hover {
  border: 0.3125rem solid rgb(181, 217, 252);
  background-color: rgba(0, 119, 255, 0.466);
}

.extra,
.texts,
.buttons {
  display: flex;
  justify-content: space-between;
}

#r1:checked~.extra .label:nth-child(1),
#r2:checked~.extra .label:nth-child(2),
#r3:checked~.extra .label:nth-child(3),
#r4:checked~.extra .label:nth-child(4),
#r5:checked~.extra .label:nth-child(5) {
  border: 0.3125rem solid rgb(181, 217, 252);
  background-color: rgb(0, 119, 255);
  transition: 0.5s ease-in-out;
}

#r1:checked~.meme-container .memes {
  margin-left: 0;
}

#r1:checked~.extra .text-container .texts {
  margin-left: 0;
}

#r2:checked~.meme-container .memes {
  margin-left: -50rem;
}

#r2:checked~.extra .text-container .texts {
  margin-left: -20rem;
}

#r3:checked~.meme-container .memes {
  margin-left: -100rem;
}

#r3:checked~.extra .text-container .texts {
  margin-left: -40rem;
}

#r4:checked~.meme-container .memes {
  margin-left: -150rem;
}

#r4:checked~.extra .text-container .texts {
  margin-left: -60rem;
}

#r5:checked~.meme-container .memes {
  margin-left: -200rem;
}

#r5:checked~.extra .text-container .texts {
  margin-left: -80rem;
}